{% extends 'base.html' %} {% block title %}Change password{%endblock%} {% block
content %}
<h1>Change Password</h1>
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ error }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>
{% endif %} {% if msg %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ msg }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>
{% endif %}
<form
  action="{{ url_for('change_password', username=session['username']) }}"
  method="post"
  class="needs-validation"
  novalidate>
  <div class="mb-3">
    <label for="password" class="form-label">Current Password</label>
    <input
      type="password"
      name="old_password"
      id="old_password"
      pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
      class="form-control"
      required />
    <div class="invalid-feedback">Current password is invalid</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">New Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="8+ characters (at least 1 letter & 1 number)"
      pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
      class="form-control"
      required />
    <div class="invalid-feedback">
      Invalid password, please follow the required pattern
    </div>
    <span id="message_password"></span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Confirm New Password</label>
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      placeholder="Confirm your new password"
      pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}"
      class="form-control"
      required />
    <span id="message_confirm_password"></span>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script src="{{ url_for('static', filename='js/validatePassword.js') }}"></script>

{% endblock%}
