{% extends 'base.html' %} 
{% block title %} Peace Of Tree {% endblock %} 

{% block content %}

<div class="container mt-4">
  <h2 class="mb-4">All messages</h2>

  <!-- Display a list of all messages -->
  {% for message in messages %}
  <a
    href="{{ url_for('message_detail', message_id=message.message_id) }}"
    class="text-decoration-none">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title text-success">{{ message.title }}</h5>
        <p class="card-text">{{ message.content | truncate_content(100) }}</p>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <div class="d-flex align-items-center">
            {% if message.image %}
            <img
              src="{{ url_for('static', filename=message.image) }}"
              alt="profile_image"
              width="30"
              height="30"
              class="rounded-circle me-2" />
            {% endif %}
            <span>{{ message.username }}</span>
          </div>
          <small class="text-muted">
            {{ message.message_created_at | format_date }}
          </small>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
