{% extends 'base.html' %} {% block title %}Login{%endblock%} {% block content %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ success }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>
{% endif %} {% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ error }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"></button>
</div>
{% endif %}

<h1>Login</h1>
<form
  action="{{ url_for('login')}}"
  method="post"
  class="needs-validation"
  novalidate>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      class="form-control"
      required />
    <div class="invalid-feedback">Please enter your username</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      required />
    <div class="invalid-feedback">Please enter your password</div>
    <p>
      Don't have an account?
      <a href="{{ url_for('register') }}">Sign up</a>
    </p>
  </div>
  <button type="submit" class="btn btn-primary">Log In</button>
</form>

{% endblock %}
